<form [formGroup]="subEmail" (ngSubmit)="onEmail()">
  <alert *ngIf="error" class="mt-3" type="danger" [dismissible]="true" (click)="clearError()">
    {{error}}
  </alert>
  <div class="input-group mb-3 mt-3">
    <span *ngIf="!sub.sub_name; else named" class="input-group-text" id="msg">To:&nbsp;Everyone</span>
    <textarea class="form-control" rows="4" formControlName="message" aria-describedby="msg" placeholder="Message to send in email"></textarea>
  </div>
  <div class="form-group">
    <button *ngIf="!submitted; else submitting" type="submit" class="btn btn-primary btn-block">{{buttonText}}</button>
  </div>
</form>

<ng-template #named>
  <span *ngIf="sub.sub_name" class="input-group-text" id="msg">To:&nbsp;{{sub.sub_name}}</span>
</ng-template>

<ng-template #submitting>
  <button type="submit" class="btn btn-primary btn-block" [disabled]=true>
    <i class="fa fa-cog fa-spin fa-fw"></i>
    Emailing...
  </button>
</ng-template>