<div class="pt-3">
  <div *ngIf="(user | async) as u; else loading" class="card">
    <div class="card-header">
      <h2>Account overview</h2>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <baker-update-name [firstName]="u.first_name" [lastName]="u.last_name"></baker-update-name>
        </div>
        <div class="col">
          <baker-update-password></baker-update-password>
        </div>
        <div class="col">
          <baker-update-email [email]="u.email"></baker-update-email>
        </div>
        <div class="col">
          <baker-update-phone [phone]="u.phone"></baker-update-phone>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="card">
    <div class="card-body">
      <fa-icon [icon]="igear" [spin]="true"></fa-icon>&nbsp;
      Loading user data...
    </div>
  </div>
</ng-template>