@if (openRequests) {
  <div class="table-responsive">
    @if (openRequests.length > 0) {
      <table class="table table-bordered table-hover align-middle">
        <thead>
          <tr>
            <th>Date</th>
            <th>Patroller</th>
            <th>Team</th>
            <th>Responsibility</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          @for (o of openRequests; track o.id; let i=$index) {
            <tr>
              <td data-title="Date" class="col-2">
                <a routerLink="../DutyDay/{{o.duty_day_id}}">{{o.date}}</a>
              </td>
              <td data-title="For">{{o.name}}</td>
              <td data-title="Team" class="col-2">{{o.team}}</td>
              <td data-title="Responsibility">{{o.responsibility}}</td>
              <td data-title="Contact" class="col-2">
                <a class="btn btn-primary" [href]="contactClick(i)">Send a message</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="my-3">
        <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
        There are no open sub requests that you are available to fill at this time.
      </div>
    }
  </div>
} @else {
  <div>
    <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
    Loading unassigned requests...
  </div>
}