@if (!inline) {
  <form [formGroup]="assignForm" [ngClass]="{'row gx-3': inline}" (ngSubmit)="onAssignSubmit()">
    @if (error) {
      <div class="mt-3">
        <alert type="danger" [dismissible]="true" (click)="clearError()">
          {{error}}
        </alert>
      </div>
    }
    @if (assignables) {
      <div class="input-group my-3">
        <label class="input-group-text" for="selectSub">Assign to:</label>
        <select class="form-select" formControlName="assigned_id" id="selectSub">
          @for (a of assignables; track a.id) {
            <option value="{{a.id}}">{{a.name}}</option>
          }
        </select>
      </div>
    } @else {
      <div>
        <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
        {{loadingMessage}}
      </div>
    }
    <div class="input-group">
      @if (!submitted) {
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!assignForm.valid || assignForm.controls['assigned_id'].value == sub.sub_id">
          Assign
        </button>
      } @else {
        <button type="submit" class="btn btn-primary btn-block" [disabled]=true>
          <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
          Assigning...
        </button>
      }
    </div>
  </form>
} @else {
  <form [formGroup]="assignForm" class="row row-cols-auto gx-1 align-items-start" (ngSubmit)="onAssignSubmit()">
    <div class="col">
      @if (assignables) {
        <div class="input-group">
          <select class="form-select form-select-sm" formControlName="assigned_id">
            @for (a of assignables; track a.id) {
              <option value="{{a.id}}">{{a.name}}</option>
            }
          </select>
        </div>
      } @else {
        <div>
          <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
          {{loadingMessage}}
        </div>
      }
    </div>
    <div class="col">
      @if (!submitted)  {
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="disableSubmit || deleted">
          <fa-icon [icon]="icheck"></fa-icon>
        </button>
      } @else {
        <button type="submit" class="btn btn-primary btn-sm" [disabled]=true>
          <fa-icon [icon]="igear" animation="spin"></fa-icon>
        </button>
      }
    </div>
    <div class="col">
      @if (!deleted) {
        <button class="btn btn-secondary btn-sm" (click)="deleteSub()">
          <fa-icon [icon]="ixmark"></fa-icon>
        </button>
      } @else {
        <button type="submit" class="btn btn-secondary btn-sm" [disabled]=true>
          <fa-icon [icon]="igear" animation="spin"></fa-icon>
        </button>
      }
    </div>
  </form>
}

