@if (roster | async; as roster) {
  <div class="card mt-3">
    <div class="card-header">
      <h2>{{seasonName}} Roster</h2>
    </div>
    <div class="card-body">
      <div class="container">
        @if (roster.length > 0) {
          <div class="row">
            <baker-search [(term)]="searchTerm"></baker-search>
          </div>
        } @else {
          <div class="row">
            <alert type="danger">
              <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
              Season has no roster!
            </alert>
          </div>
        }
        <div class="row">
          <accordion [isAnimated]="true">
            @for (team of (roster | searchRoster:searchTerm); track team.id) {  
              <accordion-group heading="{{team.name}}" [isOpen]="team.members.length > 0">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover align-middle">
                    <thead>
                      <tr>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-3">Email</th>
                        <th class="col-md-3">Phone</th>
                        @if (isLeader) {
                          <th class="col-md-3">Roles</th>
                        }
                      </tr>
                    </thead>
                    <tbody>
                      @for (member of team.members; track member.id) {
                        <tr>
                          <td data-title="Name">
                            {{member.name}}
                          </td>
                          <td data-title="Email">
                            <a href="mailto:{{member.email}}" class="baker-email">{{member.email}}</a>
                          </td>
                          <td data-title="Phone">
                            <a href="tel:{{member.phone}}" class="baker-tel">{{member.phone}}</a>
                          </td>
                          @if (isLeader) {
                            <td data-title="Roles">
                              {{member.roles}}
                            </td>
                          }
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </accordion-group>
            }
          </accordion>
        </div>
      </div>
    </div>
  </div>
} @else {
  <div class="card">
    <div class="card-body">
      <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
      Loading roster data...
    </div>
  </div>
}
