<div class="card">
  <div class="card-header">
    <h4>Update Password</h4>
  </div>
  <div class="card-body">
    <alert *ngIf="message" [type]="message.type" [dismissible]="true" click="clearMessage()">
      {{message.msg}}
    </alert>
    <alert *ngIf="showCurAlert()" type="danger" [dismissible]="true">
      The new password must be different than your old password.
    </alert>
    <alert *ngIf="showNewAlert()" type="danger" [dismissible]="true">
      The new passwords must match and be made up of at least 8 letters, numbers, and/or characters.
    </alert>
    <form [formGroup]="updatePass" (ngSubmit)="submit()">
      <div class="input-group mb-2">
        <span class="input-group-text" id="pw">Old&nbsp;<fa-icon [icon]="ikey"></fa-icon></span>
        <input type="password" [class]="styleCurControl(password)" id="first" formControlName="password" placeholder="Current Pasword" aria-describedby="pw" (blur)="blur(password)">
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="npw">New&nbsp;<fa-icon [icon]="ikey"></fa-icon></span>
        <input type="password" [class]="styleNewControl(newPassword)" id="first" formControlName="new_password" placeholder="New Password" aria-describedby="npw" (blur)="blur(password)">
      </div>
      <div class="input-group mb-2">
        <span class="input-group-text" id="cpw">New&nbsp;<fa-icon [icon]="ikey"></fa-icon></span>
        <input type="password" [class]="styleNewControl(confirmPassword)" id="last" formControlName="confirm_password" placeholder="Confirm New Password" aria-describedby="cpw" (blur)="blur(confirmPassword)">
      </div>
      <div class="input-group">
        <button *ngIf="!submitted; else renaming" type="submit" class="form-control btn btn-primary submit" [disabled]="updatePass.invalid">Update Password</button>
      </div>
    </form>
  </div>
</div>

<ng-template #renaming>
  <button  type="submit" class="form-control btn btn-primary submit" [disabled]=true>
    <fa-icon [icon]="igear" [spin]="true"></fa-icon>&nbsp;
    Updating Password...
  </button>
</ng-template>
