<div class="pt-3">
  <div *ngIf="cprClasses; else loading" class="card">
    <div class="card-header">
      <div class="row gx-2">
        <div class="col-auto">
          <h2>CPR Students</h2>
        </div>
        <div class="col">
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
              Actions&nbsp;<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="showAddStudent()">Add a student</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="showRemoveStudents()">Remove students</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="showSendReminders()">Send reminders</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container">
        <div *ngIf="error.main" class="row g-2">
          <alert type="danger" [dismissible]="true" (click)="clearMainMessage(error)">
            <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
            {{error.main}}
          </alert>
        </div>
        <div *ngIf="showRemove" class="row g-2">
          <alert type="warning" [dismissible]="false">
            <fa-icon [icon]="icons.info"></fa-icon>&nbsp;
            Select the unregistered students you want to remove from the students list and then click the remove button at the bottom of the students table.&nbsp;
            You can unregister students as you are selecting them for removal.
            <br><br>
            <button class="btn btn-secondary btn-block" (click)="hideRemoveStudents()" [disabled]="disable.removed || disable.changed">
              Exit remove mode
            </button>
          </alert>
        </div>
        <div *ngIf="cprStudents.length > 0; else nodisplay" class="row g-2">
          <baker-search *ngIf="cprStudents.length > 0" [(term)]="searchTerm"></baker-search>
        </div>
        <div class="row g-2">
          <form [formGroup]="removeStudentsForm" (ngSubmit)="onRemoveStudents()">
            <table class="table table-bordered table-hover align-middle">
              <thead>
                <tr>
                  <th class="col-md-2">Name</th>
                  <th class="col-md-2">Email</th>
                  <th class="col-md-3">Class (click to change)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of cprStudents | searchStudents:searchTerm:cprClassMap:classNameFn; let i = index">
                  <td data-title="Name">
                    <input *ngIf="showRemove" type="checkbox" [formControlName]="s.id.toString()">
                    {{s.first_name}} {{s.last_name}}
                  </td>
                  <td data-title="Email">
                    <a [href]="'mailto:' + s.email">{{s.email}}</a>
                  </td>
                  <td data-title="Class">
                    <a *ngIf="!showChange.b || showChange.idx !== i; else showingChange" class="link-secondary" (click)="showChangeClass(s.id, i)">
                      {{getClassName(s.cpr_class_id)}}
                    </a>
                  </td>
                </tr>
              </tbody>
              <div *ngIf="showRemove" class="my-2">
                  <button *ngIf="!disable.removed; else removing" type="submit" class="btn btn-primary btn-block" [disabled]="disable.changed">
                    Remove students
                  </button>
                  <button class="btn btn-secondary btn-block ms-2" (click)="hideRemoveStudents()" [disabled]="disable.changed || disable.removed">
                    Exit remove mode
                  </button>
              </div>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="card">
    <div class="card-body">
      <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
      Loading cpr class data...
    </div>
  </div>
</ng-template>

<ng-template #nodisplay>
  <div class="row">
    <alert type="danger">
      <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
     Student roster is empty!
    </alert>
  </div>
</ng-template>

<ng-template #removing>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Removing students...
  </button>
</ng-template>

<ng-template #addStudentModal>
  <div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">Add a student</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" [disabled]="disable.added" (click)="hideAddStudent()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addStudentForm" class="row g-2" (ngSubmit)="onAddStudent()">
      <div *ngIf="error.add" class="row g-2">
        <alert type="danger" [dismissible]="true" (click)="clearAddMessage(error)">
          <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
          {{error.add}}
        </alert>
      </div>
      <div *ngIf="success.add" class="row g-2">
        <alert type="success" [dismissible]="true" (click)="clearAddMessage(success)">
          {{success.add}}
        </alert>
      </div>
      <div class="row g-2">
        <div class="col">
          <div class="input-group">
            <span class="input-group-text" id="fn">First</span>
            <input type="text" [class]="styleControl(studentControls['first_name'])" formControlName="first_name" aria-describedby="fn" placeholder="First Name (required)">
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <span class="input-group-text" id="ln">Last</span>
            <input type="text" [class]="styleControl(studentControls['last_name'])" formControlName="last_name" aria-describedby="ln" placeholder="Last Name (required)">
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="input-group">
          <span class="input-group-text" id="em"><fa-icon [icon]="icons.at"></fa-icon></span>
          <input type="text" [class]="styleControl(studentControls['email'])"  formControlName="email" aria-describedby="em" placeholder="Email (required)">
        </div>
      </div>
      <div class="row g-2">
        <div class="input-group">
          <button *ngIf="!disable.added; else adding" type="submit" class="btn btn-primary btn-block" [disabled]="!addStudentForm.valid">Create Student</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #adding>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Creating Student...
  </button>
</ng-template>

<ng-template #sendRemindersModal>
  <div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">Send reminder emails</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" [disabled]="disable.reminded" (click)="hideSendReminders()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="error.remind" class="row g-2">
      <alert [dismissible]="true" type="danger" (click)="clearSendReminders(error)">
        <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
        {{error.remind}}
      </alert>
    </div>
    <div *ngIf="success.remind" class="row g-2">
      <alert [dismissible]="true" type="success" (click)="clearSendReminders(success)">{{success.remind}}</alert>
    </div>
    <div class="row align-items-center g-2">
      <div class="col-auto">
        Do you want to send reminder emails now?
      </div>
      <div class="col">
        <button *ngIf="!disable.reminded; else reminding" type="submit" class="btn btn-primary btn-block" (click)="onSendReminders()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #reminding>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>
    Sending reminders...
  </button>
</ng-template>

<ng-template #showingChange>
  <form class="row row-cols-auto gx-1 align-items-start" [formGroup]="changeClassForm" (ngSubmit)="onChangeClass()">
    <div class="col">
      <select class="form-select form-select-sm" formControlName="cpr_class_id">
        <option [value]="null" [disabled]="showChange.s!.cpr_class_id === null">Uregistered</option>
        <option *ngFor="let c of cprClasses" [value]="c.id" [disabled]="c.id === showChange.s!.cpr_class_id || c.class_size === c.students_count">{{c.time}} @ {{c.location}}</option>
      </select>
    </div>
    <div class="col">
      <button *ngIf="!disable.changed; else changing" type="submit" class="btn btn-primary btn-sm" [disabled]="changeClassForm.invalid || disable.changed || disable.removed">
        <fa-icon [icon]="icons.check"></fa-icon>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-secondary btn-sm" (click)="hideChangeClass()" [disabled]="disable.changed">
        <fa-icon [icon]="icons.x"></fa-icon>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #changing>
  <button class="btn btn-primary btn-sm" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>
  </button>
</ng-template>