<nav class="navbar navbar-expand-lg navbar-fixed-top bg-body-tertiary" data-bs-theme="dark" role="navigation">
  <div class="container d-flex justify-content-between align-items-center align-items-md-end">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand">
        <img src="/assets/MBSA.png" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
        Volunteer Patrol
      </a>
    </div>
  </div>
</nav>
<div class="text-center baker-bg">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-5">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="d-grid gap-3">
          <div class="row">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <alert *ngIf="error" type="danger" [dismissible]="true" (onClose)="closeError()">
              <fa-icon [icon]="icons.triangle"></fa-icon>&nbsp;
              {{error}}
            </alert>
          </div>
          <div class="row">
            <div class="input-group">
              <span class="input-group-text" id="at"><fa-icon [icon]="icons.at"></fa-icon></span>
              <input type="email" [class]="styleControl(email)" id="email" formControlName="email" placeholder="name@example.com" aria-labelledby="name@exmple.com" aria-describedby="at">
              <div *ngIf="showAlert(email)" class="invalid-feedback">
                <fa-icon [icon]="icons.triangle"></fa-icon>&nbsp;
                A valid email address is required.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <span class="input-group-text" id="key"><fa-icon [icon]="icons.key"></fa-icon></span>
              <input type="password" [class]="styleControl(password)" formControlName="password" placeholder="Password" aria-labelledby="Password" aria-describedby="key">
              <div *ngIf="showAlert(password)" class="invalid-feedback">
                <fa-icon [icon]="icons.triangle"></fa-icon>&nbsp;
                A valid password is required.
              </div>
            </div>
          </div>
          <div class="nput-group">
            <button *ngIf="!submitted; else loggingin" type="submit" class="form-control btn btn-primary submit px-3" [disabled]="!loginForm.valid">Sign In</button>
          </div>
          <div class="row d-md-flex">
            <div class="input-group">
              <a routerLink="/Forgot" class="form-control btn btn-primary submit px-3">Forgot Password</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #loggingin>
  <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]=true>
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>
    Logging in...
  </button>
</ng-template>
  