<form *ngIf="(assignables | async) as assignables; else loading" [formGroup]="createAssignForm" (ngSubmit)="onCreateEmailSubmit()">
  <alert *ngIf="error" type="danger" [dismissible]="true" (click)="clearError()">
    {{error}}
  </alert>
  <div class="input-group mb-3 pt-3">
    <span class="input-group-text" id="rsn">Reason</span>
    <input type="text" maxlength="50" class="form-control" formControlName="reason" aria-describedby="rsn" placeholder="Reason (50 chars or less)">
  </div>
  <select class="form-select mb-3" formControlName="assigned_id">
    <option value="0" disabled selected>Please select a substitute</option>
    <option *ngFor="let assignable of assignables" value="{{assignable.id}}">{{assignable.name}}</option>
  </select>
  <div class="input-group">
    <button *ngIf="!submitted; else submitting" type="submit" class="btn btn-primary btn-block" [disabled]="!createAssignForm.valid">Create & Assign</button>
  </div>
</form>

<ng-template #loading>
  <div>
    <fa-icon [icon]="igear" [spin]="true"></fa-icon>;nbsp;
    Loading assignable users...
  </div>
</ng-template>

<ng-template #submitting>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
    <fa-icon [icon]="igear" [spin]="true"></fa-icon>&nbsp;
    Creating & Assigning...
  </button>
</ng-template>