<div class="card mt-3">
  <div class="card-header">
    <h2>CPR Setup</h2>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 g-2">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Start a new CPR year</h4>
          </div>
          <div class="card-body">
            @if (initError) {
              <div class="col-md-12">
                <alert type="danger" [dismissible]="true" (click)="clearInitError()">
                  <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
                  {{initError}}
                </alert>
              </div>
            }
            @if (!cprLatest) {
              <fa-icon [icon]="icons.gear" animation="spin"></fa-icon>&nbsp;
              Loading cpr data...
            } @else if (cprLatest.expired) {
              <div class="row g-2">
                <alert type="warning" [dismissible]="false">
                  <fa-icon [icon]="icons.info"></fa-icon>&nbsp;
                  This will start a new year for CPR Classes that will run through 12/31/{{curYear}}. All patrollers and hosts from the
                  previous patrol season who have an OEC certification will be imported as students. Once this completes, you can add new
                  classes and additional students from the CPR > Classes and CPR > Students views. You can send reminder emails after you've
                  added classes and any additional students.
                </alert>
              </div>
              @if (!disable.initialize) {
                <button class="btn btn-danger btn-block" (click)="onInitializeCpr()">Initialize CPR Classes for {{curYear}}</button>
              } @else {
                <button type="submit" class="btn btn-danger btn-block" [disabled]="true">
                  <fa-icon [icon]="icons.gear" animation="spin"></fa-icon>&nbsp;
                  Initializing CPR classes for {{curYear}}...
                </button>
              }
            } @else {
              <div class="row g-2">
                <alert type="success" [dismissible]="false">
                  <fa-icon [icon]="icons.info"></fa-icon>&nbsp;
                  The CPR class year running through 12/31/{{curYear}} is set up. All patrollers and hosts from the
                  previous patrol season who have an OEC certification were imported as students. You can add new
                  classes and external students from the CPR > Classes and CPR > Students views.
                </alert>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Add a classroom</h4>
          </div>
          <div class="card-body">
            <form class="row g-2" [formGroup]="addClassroomForm" (ngSubmit)="onAddClassroom()">
              @if (error) {
                <div class="col-md-12">
                  <alert type="danger" [dismissible]="true" (click)="clearError()">
                    <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
                    {{error}}
                  </alert>
                </div>}
              @if (success) {
                <div class="col-md-12">
                  <alert type="success" [dismissible]="true" (click)="clearSuccess()">
                    <fa-icon [icon]="icons.ok"></fa-icon>&nbsp;
                    {{success}}
                  </alert>
                </div>
              }
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-text" id="cname">Name</span>
                  <input type="text" [class]="styleControl(classroomName)" aria-describedby="cname" formControlName="name" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-text" id="caddr">Address</span>
                  <input type="text" [class]="styleControl(classroomAddress)" aria-describedby="caddr" formControlName="address" placeholder="Copied Address from Google Maps">
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  <span class="input-group-text" id="clink">Map link</span>
                  <input type="text" [class]="styleControl(classroomLink)" aria-describedby="clink" formControlName="map_link" placeholder="Google maps share url">
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group">
                  @if (!disable.classroom) {
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!addClassroomForm.valid">Create Classroom</button>
                  } @else {
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
                      <fa-icon [icon]="icons.gear" animation="spin"></fa-icon>&nbsp;
                      Creating Classroom...
                    </button>
                  }
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
