<nav class="navbar navbar-expand-lg navbar-fixed-top bg-body-tertiary" data-bs-theme="dark" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="/assets/MBSA.png" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
      Volunteer Patrol
    </a>
  </div>
</nav>
<div class="text-center baker-bg">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-5">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="d-grid gap-3">
          <div class="row">
            <h1 class="h3 mb-3 fw-normal">Password reset</h1>
            <alert *ngIf="wasSuccess()" type="success">
              <span class="sr-only">Success:</span>
              <fa-icon [icon]="icheck"></fa-icon>&nbsp;
              A password reset email has been sent. Please check your email and follow the link in the reset message.
            </alert>
            <alert *ngIf="error" type="danger" [dismissible]="true" (click)="clearError()">
              <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
              {{error}}
            </alert>
          </div>
          <div class="row" [hidden]="wasSuccess()">
            <!-- Using #username, we can identify this input to get the value on the form's submit event -->
            <alert *ngIf="showAlert()" type="danger">
              A valid email address is required.
            </alert>
            <div class="input-group">
              <span class="input-group-text" id="at"><fa-icon [icon]="iat"></fa-icon></span>
              <input type="email" [class]="styleControl()" id="email" formControlName="email" placeholder="name@example.com" aria-labelledby="name@exmple.com" aria-describedby="at">
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <button *ngIf="!submitted; else verifying" type="submit" class="form-control btn btn-primary submit" [disabled]="!forgotForm.valid">Forgot</button>
            </div>
          </div>
          <div class="row d-md-flex">
            <div class="input-group">
              <a routerLink="/Login" class="form-control btn btn-primary submit px-3">Return to login</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #verifying>
  <button type="submit" class="form-control btn btn-primary submit" [disabled]=true>
    <i class="fa fa-cog fa-spin fa-fw"></i>
    Verifying email...
  </button>
</ng-template>
