
<div *ngIf="requests" class="table-responsive">
  <table *ngIf="requests.length > 0; else noRequests" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Patroller</th>
        <th>Team</th>
        <th>Responsibility</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests; let i = index">
        <td data-title="Date">
          <a routerLink="../DutyDay/{{request.duty_day.id}}">{{request.duty_day.date}}</a>
        </td>
        <td data-title="Patroller">{{request.sub_for!.name}}</td>
        <td data-title="Team">{{request.duty_day.team!.name}}</td>
        <td data-title="Responsibility">{{request.responsibility!.name}}</td>
        <td data-title="Response">
          <button class="btn btn-primary" (click)="manageClick(i)">Accept/Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="panel-body">
    <fa-icon [icon]="igear" [spin]="true"></fa-icon>&nbsp;
    Loading substitution requests...
  </div>
</ng-template>

<ng-template #noRequests>
  <div class="my-3">
    <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
    No one has asked you to sub for them at this time.
  </div>
</ng-template>
