
@if (patrols) {
  <div class="table-responsive">
    @if (patrols.length > 0) {
      <table class="table table-bordered table-hover align-middle">
        <thead>
          <tr>
            <th>Date</th>
            <th>Team</th>
            <th>Responsibility</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (patrol of patrols; track patrol.id; let i = $index) {
            <tr [ngClass]="rowColor(patrol.pending_substitution)">
              <td data-title="Date" class="col-2">
                <a routerLink="../DutyDay/{{patrol.duty_day.id}}">{{patrol.duty_day.date}}</a>
              </td>
              <td data-title="Team" class="col-2">{{patrol.duty_day.team.name}}</td>
              <td data-title="Responsibility">{{patrol.responsibility.name}}</td>
              <td data-title="Status" class="col-2">
                @if (!patrol.pending_substitution) {
                  <button class="btn btn-primary" [disabled]="!patrol.swapable" (click)="createClick(i)">Request Sub</button>
                } @else {
                  <button class="btn btn-danger" [disabled]="!patrol.swapable" (click)="manageClick(i)">Manage Sub</button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <div class="my-3">
        <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
        No patrols are assigned to you at this time.
      </div>
    }
  </div>
} @else {
  <div>
    <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
    Loading season patrols...
  </div>
}
