@if (dutyDays | async; as dutyDays) {
  <div class="card mt-3">
    <div class="card-header">
      <h2>{{seasonName}} Duty Days</h2>
    </div>
    @if (dutyDays.length > 0) {
      <div class="card-body">
        <div class="container">
          @if (dutyDays.length > 0) {
            <div class="row">
              <baker-search [(term)]="searchTerm"></baker-search>
            </div>
          }
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered table-hover align-middle">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Team</th>
                  </tr>
                </thead>
                <tbody>
                  @for (dd of (dutyDays | searchDutyDays:searchTerm); track dd.id) {
                    <tr>
                      <td data-title="Date">
                        <a routerLink="../../DutyDay/{{dd.id}}">{{dd.date}}</a>
                      </td>
                      <td data-title="Team">{{dd.team!.name}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="row">
        <alert type="danger">
          <fa-icon [icon]="itriangle"></fa-icon>&nbsp;
          Season has no duty days!
        </alert>
      </div>
    }
  </div>
} @else {
  <div class="card">
    <div class="card-body">
      <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
      Loading season data...
    </div>
  </div>
}