<div class="card mt-3">
  <div class="card-header">
    <h2>Season Settings</h2>
  </div>
  <div *ngIf="latest; else loading" class="card-body">
    <div class="card">
      <div class="card-header">
        <h4>Initialize a new season</h4>
      </div>
      <div class="card-body">
        <form *ngIf="today > end; else current" class="row g-2 align-items-center" [formGroup]="seasonSetupForm" (ngSubmit)="onInitializeSubmit()">
          <div *ngIf="setupErrors.season" class="col-md-12">
            <alert type="danger" [dismissible]="false">
              <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
              {{setupErrors.season}}
            </alert>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-text" id="sdate">Start</span>
              <input [class]="styleControl(seasonSetupForm.controls['start'])" #datepickerMDY="bsDatepicker" aria-describedby="sdate" bsDatepicker formControlName="start"
                [bsConfig]="dateConfig" [minDate]="this.startMonth[0]" [maxDate]="this.startMonth[1]" placeholder="MM/DD/YYYY">
              <div *ngIf="setupErrors.start" class="invalid-feedback">
                <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
                {{setupErrors.start}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-text" id="edate">End</span>
              <input [class]="styleControl(seasonSetupForm.controls['end'])" #datepickerMDY="bsDatepicker" aria-describedby="edate" bsDatepicker formControlName="end"
                [bsConfig]="dateConfig" [minDate]="this.endMonth[0]" [maxDate]="this.endMonth[1]" placeholder="MM/DD/YYYY">
              <div *ngIf="setupErrors.end" class="invalid-feedback">
                <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
                {{setupErrors.end}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label me-2">First Sat Team:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="team" id="ateam" value="a" formControlName="team">
              <label class="form-check-label" for="ateam">A Team</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="team" id="cteam" value="c" formControlName="team">
              <label class="form-check-label" for="cteam">C Team</label>
            </div>
          </div>
          <div class="col-md-12">
            <baker-dropzone [message]="fileName ? fileName : 'Drag and drop a roster file.'" [error]="setupErrors.roster">
              <input type="file" fileInput formControlName="roster"/>
            </baker-dropzone>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-danger btn-block" [disabled]="!seasonSetupForm.valid">Initialize New Season!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="card-body">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Loading latest season data...
  </div>
</ng-template>

<ng-template #current>
  <alert type="warning">
    <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
    The current season runs until {{end | date}}. You can create a new season once the current season ends.<br><br>
    <button type="submit" class="btn btn-primary btn-block" (click)="showEmailNewUsers()">Email new users</button>
  </alert>
</ng-template>

<ng-template #initializeSeason>
  <div class="modal-header">
    <h4 class="modal-title">Review Initialization Values</h4>
    <button type="button" class="btn-close" (click)="hideInitialize()" aria-label="Close" [disabled]="disableClose.initialize">
    </button>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="this.seasonSetupForm.valid">
      <div *ngIf="setupErrors.api" class="row">
        <alert type="danger" [dismissible]="true" (onClose)="clearApiError()">
          <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
          {{setupErrors.api}}
        </alert>
      </div>
      <div class="row">
        Please verify that the following is correct:
        <ul class="ms-5">
          <li><b>Starting date:</b> {{seasonSetupForm.controls['start'].value!.toDateString()}}</li>
          <li><b>Ending date:</b> {{seasonSetupForm.controls['end'].value!.toDateString()}}</li>
          <li><b>First Saturday team:</b> {{seasonSetupForm.controls['team'].value!.toUpperCase()}} Team</li>
          <li><b>Roster File:</b> {{fileName}}</li>
        </ul>
      </div>
      <div class="row">
        <div class="form-check">
          <input type="checkbox" [checked]="initConfirm" (change)="initConfirm = !initConfirm" class="form-check-input" id="initConfirm">
          <label class="form-check-label">The season data is correct.</label>
        </div>
      </div>
      <div class="row">
        <button *ngIf="!disableClose.initialize; else submittedInitialize" type="submit" class="btn btn-danger btn-block" [disabled]="!initConfirm" (click)="onInitializeConfirmSubmit()">Confirm!</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #submittedInitialize>
  <button type="submit" class="btn btn-danger btn-block" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Initializing Season...
  </button>
</ng-template>

<ng-template #emailNewUsers>
  <div class="modal-header">
    <h4 id="dialog-static-name" class="modal-title pull-left">Send New User Password Reset Emails</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" [disabled]="disableClose.emailed" (click)="hideEmailNewUsers()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="setupErrors.api" class="row g-2">
      <alert [dismissible]="true" type="danger" (click)="clearApiError()">
        <fa-icon [icon]="icons.tri"></fa-icon>&nbsp;
        {{setupErrors.api}}
      </alert>
    </div>
    <div *ngIf="emailCount" class="row g-2">
      <alert [dismissible]="true" type="success" (click)="clearEmailCount()">
        <fa-icon [icon]="icons.ok"></fa-icon>&nbsp;
        {{emailCount}} new user password reset emails sent.
      </alert>
    </div>
    <div *ngIf="emailCount === null" class="row align-items-center g-2">
      <div class="col-auto">
        Do you want to send password reset emails now?
      </div>
      <div class="col">
        <button *ngIf="!disableClose.emailed; else emailing" type="submit" class="btn btn-primary btn-block" (click)="onEmailNewUsers()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #emailing>
  <button type="submit" class="btn btn-primary btn-block" [disabled]="true">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Emailing...
  </button>
</ng-template>
