<div class="card mt-3">
  <div class="card-header">
    <h2>Season Setup</h2>
  </div>
  <div *ngIf="latest; else loading" class="card-body">
    <form *ngIf="today > end; else current" class="row g-2" [formGroup]="seasonSetupForm" (ngSubmit)="onSetupSubmit()">
      <div *ngIf="this.errors.setup.length > 0" class="col-md-12">
        <alert type="danger" [dismissible]="false">
          <fa-icon [icon]="icons.triangle"></fa-icon>&nbsp;
          There are season setup errors:
          <ul>
            <li *ngFor="let m of this.errors.setup">{{m}}</li>
          </ul>
        </alert>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text" id="sdate">Start</span>
          <input [class]="styleControl(seasonSetupForm.controls['start'])" #datepickerMDY="bsDatepicker" aria-describedby="sdate" bsDatepicker formControlName="start"
            [bsConfig]="dateConfig" [minDate]="this.startMonth[0]" [maxDate]="this.startMonth[1]" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text" id="edate">End</span>
          <input [class]="styleControl(seasonSetupForm.controls['end'])" #datepickerMDY="bsDatepicker" aria-describedby="edate" bsDatepicker formControlName="end"
            [bsConfig]="dateConfig" [minDate]="this.endMonth[0]" [maxDate]="this.endMonth[1]" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="col-md-12">
        <mat-form-field appearance="outline" [style.width.px]="315">
          <ngx-mat-dropzone placeholder="Drop Setup File Here" [required]="true" shouldLabelFloat="true">
            <input type="file" fileInput formControlName="file"/>
          </ngx-mat-dropzone>
          <mat-error>Only JSON files are allowed</mat-error>
          <mat-hint *ngIf="fileName">{{fileName}} added!</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <button *ngIf="true" type="submit" class="btn btn-danger btn-block" [disabled]="!seasonSetupForm.valid">Initialize New Season!</button>
      </div>
    </form>
  </div>
</div>

<ng-template #loading>
  <div class="card-body">
    <fa-icon [icon]="icons.gear" [spin]="true"></fa-icon>&nbsp;
    Loading latest season data...
  </div>
</ng-template>

<ng-template #current>
  <alert type="warning">
    <fa-icon [icon]="icons.triangle"></fa-icon>&nbsp;
    The current season runs until {{end | date}}. You can create a new season once the current season ends.
  </alert>
</ng-template>
