<form [formGroup]="swapForm" ngClass="form-inline" (ngSubmit)="onSwapSubmit()">
  <div class="row gx-1">
    <div class="col-auto">
      @if (responsibilities) {
        <select class="form-select form-select-sm" formControlName="with">
          @for (r of responsibilities; track r.patrolId) {
            <option value="{{r.patrolId}}">{{r.name}}</option>
          }
        </select>
      }
    </div>
    <div class="col">
      @if (!submitted) {
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!swapForm.valid || swapForm.controls['with'].value == patrolId">
          <fa-icon [icon]="icheck"></fa-icon>
        </button>
      } @else {
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="true">
          <fa-icon [icon]="igear" animation="spin"></fa-icon>
        </button>
      }
      <button type="button" class="btn btn-secondary btn-sm ms-1" (click)="onClose()" [disabled]="submitted">
        <fa-icon [icon]="ixmark"></fa-icon>
      </button>
    </div>
  </div>
</form>