<nav class="navbar navbar-expand-lg navbar-fixed-top bg-body-tertiary" data-bs-theme="dark" role="navigation">
  <div class="container d-flex justify-content-between align-items-center align-items-md-end">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand">
        <img src="/assets/MBSA.png" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
        Volunteer Patrol
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div  class="card p-3 m-3">
    <div class="card-body">
      <fa-icon [icon]="igear" [spin]="true"></fa-icon>&nbsp;
      Connecting your Google calendar ...
    </div>
  </div>
</div>
 