<form [formGroup]="createAndEmail" (ngSubmit)="submit()">
  <div class="mt-3">
    @if (error) {
      <alert type="danger" [dismissible]="true" (click)="clearError()">
        {{error}}
      </alert>
    }
  </div>
  <div class="input-group my-3">
    <span class="input-group-text" id="rsn">Reason</span>
    <input type="text" maxlength="50" class="form-control" formControlName="reason" aria-describedby="rsn" placeholder="Reason (50 chars or less)">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="msg">Message</span>
    <textarea class="form-control" rows="4" formControlName="message" aria-describedby="rsn" placeholder="Message to send in email"></textarea>
  </div>
  <div class="input-group">
    @if (!submitted) {
      <button type="submit" class="btn btn-primary btn-block">Email Request</button>
    } @else {
      <button type="submit" class="btn btn-primary btn-block" [disabled]=true>
        <fa-icon [icon]="igear" animation="spin"></fa-icon>&nbsp;
        Emailing Request...
      </button>
    }
  </div>
</form>