<div *ngIf="dutyDay" class="panel panel-default">
  <div class="panel-heading">
    <h2>{{dutyDay.team.name}} Duty Day {{dutyDay.date}}</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Patroller</th>
            <th>Responsibility</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patrol of dutyDay.patrols">
            <td>{{patrol.patroller.name}}</td>
            <td>{{patrol.responsibility.name}} v{{patrol.responsibility.version}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
