<div *ngIf="dutyDay" class="panel panel-default">
  <div class="panel-heading">
    <h2>{{dutyDay.team.name}} Duty Day {{dutyDay.date}}</h2>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Patroller</th>
            <th>Responsibility</th>
            <th *ngIf="isAdmin">Management</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patrol of dutyDay.patrols; let i=index" [ngClass]="{'info': isAdmin && patrol.has_substitutions && !patrol.has_pending_substitutions, 'danger': isAdmin && patrol.has_pending_substitutions}">
            <td>{{patrol.patroller.name}}</td>
            <td>{{patrol.responsibility.name}} v{{patrol.responsibility.version}}</td>
            <td *ngIf="isAdmin"><button class="btn btn-primary" (click)="showManagePatrolModal(i, patrol.id, patrol.responsibility.name + ' ' + dutyDay.date, patrol.has_substitutions, patrol.has_pending_substitutions)">Manage</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #managePatrolModal="bs-modal" *ngIf="isAdmin" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeManagePatrolModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Manage patrol {{modalState.patrolName}}</h4>
      </div>
      <div class="modal-body">
        <tabset *ngIf="modalState.patrolId > 0">
          <tab *ngIf="!modalState.hasPending" heading="Create & Assign">
            <div>
              <baker-create-assign-sub-form [patrolId]="modalState.patrolId" (success)="onSubRequestAssignSubmit($event)"></baker-create-assign-sub-form>
            </div>
          </tab>
          <tab *ngIf="modalState.hasSubs" heading="Sub History">
            <baker-api-error [error]="_error"></baker-api-error>
            <table *ngIf="history" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Sub Name</th>
                  <th>Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sub of history; let i = index" [ngClass]="{'danger': !sub.accepted}">
                  <td>{{sub.subbed.name}}</td>
                  <td *ngIf="modalState.hasPending && i == 0">
                    <div>
                      <baker-assign-sub-form [patrolId]="modalState.patrolId" [subId]="sub.id" [subUserId]="sub.sub.id" inline="true" (success)="onSubAssign($event)" (error)="onSubAssignError($event)"></baker-assign-sub-form> 
                    </div>
                  </td>
                  <td *ngIf="!modalState.hasPending || i > 0">{{sub.sub.name}}</td>
                  <td>{{sub.reason}}</td>
                </tr>
              </tbody>
            </table>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

