<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Duty Days</h2>
  </div>
  <tabset>
    <tab *ngFor="let tabz of tabs; let i = index" 
         [active]="tabz.active"
         (select)="selectTab(i)"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled">
      <!--tab index i==0 is the patrols tab-->
      <template *ngIf="i==0" tabHeading>Patrols</template>
      <baker-patrols-tab *ngIf="i==0 && patrols" [patrols]="patrols" (createSub)="showCreateSubModal($event)" (manageSub)="showManageSubModal($event)"></baker-patrols-tab>
      <!--tab index i==1 is the requests tab-->
      <template *ngIf="i==1" tabHeading>
        <i *ngIf="requests && requests.length > 0" class="glyphicon glyphicon-inbox"></i> Sub Requests
      </template>
      <baker-requests-tab *ngIf="i==1 && requests" [requests]="requests" (manageRequest)="showManageRequestModal($event)"></baker-requests-tab>
    </tab>
  </tabset>
</div>

<div bsModal #createSubModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeCreateSubModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Request a Sub for {{modalState.date}}</h4>
      </div>
      <div class="modal-body">
        <tabset *ngIf="createSubTabset">
          <tab heading="Email Request" (select)="clearError()">
            <baker-create-sub-form [patrolId]="modalState.patrolId" (success)="onSubRequestCreate($event)"></baker-create-sub-form>
          </tab>
          <tab heading="Create & Assign" (select)="clearError()">
            <baker-create-assign-sub-form [patrolId]="modalState.patrolId" (success)="onSubRequestCreate($event)"></baker-create-assign-sub-form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div bsModal #manageSubModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeManageSubModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Manage Sub request for {{modalState.date}}</h4>
      </div>
      <div class="modal-body">
        <tabset *ngIf="manageSubTabset">
          <tab heading="Assign" (select)="clearError()">
            <baker-assign-sub-form [patrolId]="modalState.patrolId" [subId]="modalState.subId" [subUserId]="modalState.subUserId" [subName]="modalState.subName" (success)="onSubRequestAssign($event)"></baker-assign-sub-form>
          </tab>
          <tab heading="Remind" (select)="clearError()">
            <baker-email-sub-form [subId]="modalState.subId" [subName]="modalState.subName" [buttonText]="'Remind'" (success)="closeManageSubModal()"></baker-email-sub-form>
          </tab>
          <tab heading="Delete" select="clearError()">
            <baker-api-error [error]="error"></baker-api-error>
            Do you really want to delete this request? 
            <button class="btn btn-primary" (click)="onSubDeleteSubmit()">Delete</button>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<div bsModal #manageRequestModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeManageRequestModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Respond to request from {{modalState.subName}} for {{modalState.date}}</h4>
      </div>
      <div class="modal-body">
        <tabset *ngIf="manageRequestTabset">
          <tab heading="Accept" (select)="clearError()">
           <baker-api-error [error]="error"></baker-api-error>
            Do you really want to Accept this request? 
            <button class="btn btn-primary" (click)="onRequestAcceptSubmit()">Accept</button>
          </tab>
          <tab heading="Reject" (select)="clearError()">
            <baker-email-sub-form [subId]="modalState.subId" [subName]="modalState.subName" [reject]="true" [buttonText]="'Reject'" (success)="onRequestRejectSubmit()"></baker-email-sub-form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
