<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default Absolute-Center is-Responsive">
        <div id="logo-container" class="panel-heading text-center">
          <h3>Reset Password</h3>
        </div>
        <div class="panel-body">
          <div [hidden]="!wasSuccess()">
            <div class="alert alert-success">
              <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
              <span class="sr-only">Success:</span>
              Your password was successfully reset. You can now <a routerLink="/Login" class="alert-link">login</a>.
            </div>
          </div>
          <div [hidden]="wasSuccess()">
            <baker-api-error [error]="error"></baker-api-error>
            <form [formGroup]="resetForm" #f="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [formControl]="resetForm.controls['password']" placeholder="" #password="ngForm">
                <baker-api-error [cond]="!(password.valid || (password.pristine && !f.submitted))" [error]="'A password of at least 8 characters is required.'"></baker-api-error>
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" [formControl]="resetForm.controls['confirm_password']" placeholder="" #confirm_password="ngForm">
                <baker-api-error [cond]="!((confirm_password.valid && !resetForm.hasError('mismatchedPasswords')) || (confirm_password.pristine && !f.submitted))" [error]="'A matching password of at least 8 characters is required.'"></baker-api-error>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-def btn-block" [disabled]="!resetForm.valid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {{diagnostic}}
    </div>
  </div>
</div>

